<div id="form">
    <%= form_with url: "root/show", method: :post do |form| %>
    <%= form.label :query, "Введите число для поиска дружественных чисел в промежутке от 1 до этого числа:", :class => 'label-form' %>
    <%= form.text_field :query, value: "350" %>
    <%= form.submit "Поиск", class: 'btn btn-danger' %>
    <% end %>
</div>
<div id="result"></div>
