<div class="container">
    <table id="show-table" class="table table-dark">
        <tr>
            <th colspan="2" >Дружественные числа</th>
        </tr>
        <tr>
            <th>Число</th>
            <th>Число</th>
            <% @arr.each do |elem| %>
                <tr><td><%= elem[0] %></td><td><%= elem[1] %></td></tr>
            <% end %>
        </tr>
    </table>
    <%= button_to 'Назад', root_path, method: :get, class: 'btn btn-primary' %>
</div>